footer {
  background: color(orange);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 3rem;
  align-items: center;
  position: absolute;
}

footer.page-empty {
  bottom: 0;
}

.copyright {
  color: white;
}
