button {
  cursor: pointer;
}

.btn {
  // padding: 0.7rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 4rem;
  background-color: color(green);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid white;
  border-radius: 5px;
  @media screen and (max-width: $breakpoint-tablet) {
    margin: 4rem auto;
  }
}
