.section--contact {
  background-color: color(mint);
  .section-heading {
    color: color(green);
  }
}

.contact-info {
  margin: 0 auto 1rem auto;
  font-size: 2rem;
  color: color(green);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
