.hero {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/images/tacos/taco-1.jpg");
  background-position: center;
  height: calc(100vh - 7rem);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 7rem 20rem;
  z-index: 0;
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 6rem 2rem;
  }
  @media screen and (max-width: $breakpoint-laptop) {
    align-items: center;
  }
}

.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 10;
}

.hero-heading {
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: 6rem;
  text-transform: uppercase;
  font-family: "Architect";
  @media screen and (max-width: $breakpoint-tablet) {
    font-size: 4rem;
    text-align: center;
  }
}
