#logo {
  border-radius: 50%;
  position: relative;
  margin-bottom: -3rem;
  z-index: 99;
}

#logo img {
  width: 12rem;
}

@media screen and (max-width: 768px) {
  #logo img {
    width: 9rem;
  }

  #logo {
    margin-left: -1rem;
  }
}
