@font-face {
  font-family: Architect;
  src: url("../../assets/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf");
}

@font-face {
  font-family: newFont;
  src: url("../../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf")
    format("ttf");
}
