@import "../variables/variables.scss";

.section--hero {
  background-image: url("../../images/taco-3.jpg");
  background-position: center;
  height: calc(100vh - 7rem);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-container {
  width: 75%;
  margin: 0 auto;
  padding: 7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-heading {
  color: white;
  height: fit-content;
  width: fit-content;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn {
  width: 10rem;
  height: 4rem;
  margin: 1rem 0 0 1rem;
  background-color: color(green);
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid white;
  border-radius: 5px;
}

.section--schedule {
  background-color: color(mint);
}

.schedule-container {
  width: 65%;
  margin: 0 auto;
  color: color(green);
  padding: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-size: 2.5rem;
  margin: 0 auto 2rem;
  text-transform: uppercase;
  text-align: center;
}

.day {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 1rem;
}

.day-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.weekday {
  font-size: 1.2rem;
}

.number {
  font-size: 3rem;
}

.month {
  font-size: 1.2rem;
}

.day-info {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  justify-content: center;
}

.location {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.time {
  font-size: 1.3rem;
}

.section--social-media {
  background-color: color(orange);
  // height: 30vh;
}

.social-media-container {
  width: 75%;
  margin: 0 auto;
  color: white;
  padding: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.social-bar {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 4rem;
  color: color(green);
  margin: 0 1.5rem;
}

.section--news-letter {
  background-color: color(mint);
  height: 50vh;
}

.news-letter-container {
  width: 75%;
  margin: 0 auto;
  color: color(green);
  padding: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .hero {
    background-position: center;
  }

  .day {
    flex-direction: column;
  }
  .day-info,
  .location,
  .time {
    margin: 0;
    text-align: center;
  }

  .section-container {
    padding: 2rem 0;
  }

  .schedule-container {
    .section-heading {
      border-bottom: 1px solid color(darkblue);
    }
  }
}
